.container {
  max-width: var(--width);
  margin: 0 auto;
  padding: 2rem 2rem;
}

.postInfo {
  display: flex;
  margin-top: 1.5rem;

  time, span {
    display: flex;
    align-items: center;

    font-size: 0.875rem;
    color: var(--gray-300);

    &:not(:first-child) {
      margin-left: 1.5rem;
    }

    svg {
      margin-right: .5rem;
      font-size: 1.125rem;
    }
  }
}
