.posts {
  a {
    display: block;
    
    & + a {
      margin-top: 3rem;
    }

    &:hover strong {
      color: var(--pink-500);
    }

    strong {
      display: block;
      margin-bottom: .5rem;

      font-size: 1.75rem;
      color: var(--gray-100);

      transition: color 0.2s;
    }

    p {      
      font-size: 1.125rem;
      color: var(--gray-200)
    }
  }

  .loadPosts {
    cursor: pointer;

    display: block;
    margin-top: 4rem;

    font-weight: bold;
    color: var(--pink-500);
  }
}
